*{
    margin: 0;
    padding: 0;
    font-family: 'Gotham', 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  /* login */
  #secaol{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(65,63,63,0.9809173669467787) 100%);
    height: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    width: 620px;
    height: 900px;
    padding: 60px;
    border-radius: 10px;
    margin-top: 30px;
  }
  #logol{
    width: 45px;
    margin-bottom: 20px;
  }
  #continuar{
    color: white;
    width: 300px;
    text-align: center;
  }
  #continuar h1{
    margin-bottom: 30px;
    font-size: 32px;
  }
  #continuar p{
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin: 5px;
  }
  #continuar a, .apps p{
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  
  #google{
  margin-right: 40px;
  width: 27px;
  }
  #face{
  width: 23px;
  margin-right: 30px;
  }
  #apple{
  width: 26px;
  margin-right: 17%;
  }
  
  .login hr{
  margin-top: 40px;
  }
  #conta p{
  color: gray;
  display: inline-block;
  margin-top: 80px;
  }
 #continuar p:hover{
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin: 5px;
  }
  #conta{
  text-align: center;
  }
  .login a{
    color: white;
    margin-top: 20px;
    margin-bottom: 35px;
    text-align: center;
  }
  form{
  color: white;
  padding: 20px;
  border-radius: solid 4px white;
  width: 300px;
  margin: auto;
    display: block;
    margin-top: 20px;
  }
  input{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 7px;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 15px;
    background-color: black;
  }
  input:hover{
    border-color: white;
  }
  #conta a:hover{
    color: #1ac44f;
  }
  .switch {
    position: relative;
    display: inline-block;
    border: 3px solid white;
    border-radius: 40px;
    width: 31px;
    height: 16px;
    margin-top: 15px;
  }
  .switch input {
  opacity: 0;
  width: 0;
  height: 0;
  }
  
  .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .2s;
  transition: .2s;
  }
  
  .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  /* left: 2px; */
  top: 1px;
  background-color: black;
  -webkit-transition: .2s;
  transition: .2s;
  }
  
  input:checked + .slider {
  background-color: #1ac44f;
  }
  
  input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(2px);
  transform: translateX(20px);
  }
  .slider.round {
  border-radius: 34px;
  }
  #lembrar{
  font-size: 12px;
  margin-left: 7px;
  
  }
  
  .slider.round:before {
  border-radius: 50%;
  }
  
  .login button{
  background-color:  #1ac44f;
  width: 300px;
  padding: 13px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 50px;
  }
  .login button:hover{
  transform: scale(1.08);
  }
  .login button a {
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
  hr{
    border-color:rgba(128, 128, 128, 0.479);
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin: 0%;
  }
  footer{
    background-color: rgb(52, 52, 52);
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 40px;
    width: 97%;
    bottom: 0;
    font-size: 12px;
    margin-top: 45px;
  }
  footer a{
    color: gray;
    font-size: 12px;
  }
  
  /* player */
  #player1{
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 110vh;
  }
  
  .esquerda{
    position: fixed;
    width: 310px;
    display: flex;
    flex-direction: column;
  }
  
  .direita{
    display: flex;
    float: right;
    margin-left: 310px;
  }
  
  .box-ini-bus{
    margin: 9px;
    margin-right: 0;
    padding-bottom: 20px;
    float: left;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(23, 23, 23);
  }
  
  #ini-bus{
    display: flex;
    list-style-type: none;
    color: #c2c2c2;
    font-family: 'Gotham', 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.4s;
  }

  #ini-bus:hover{
    color: white;
  }
  
  .inicio{
    margin-bottom: 25px;
  }
  
  #home{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(72%) sepia(3%) saturate(17%) hue-rotate(65deg) brightness(106%) contrast(97%);
  }

  #ini-escrita{
    margin-left:20px;
  }
  
  #loupe{
    width: 20px;
    filter: brightness(0) saturate(100%) invert(72%) sepia(3%) saturate(17%) hue-rotate(65deg) brightness(106%) contrast(97%);
  }

  #bus-escrita{
    margin-left: 20px;
  }
  
  #white-spotify{
    width: 80px;
    margin-left: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .box-lib{
    margin-left: 9px;
    margin-right: 0;
    padding-bottom: 20px;
    float: left;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(23, 23, 23);
  }
  
  .bibli{
    display: flex;
  }
  
  #library{
    margin-top: 20px;
    margin-left: 23px;
    width: 28px;
    height: 28px;
    filter: brightness(0) saturate(100%) invert(72%) sepia(3%) saturate(17%) hue-rotate(65deg) brightness(106%) contrast(97%);
  }
  
  #sua-bib{
    color: #c2c2c2;
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 25px;
  }

  #more{
    margin-left: 80px;
    background-color: #ffffff00;
    border: 0;
    color: #c2c2c2;
    font-size: 30px;
    font-weight: 300;
    margin-top: 16px;
    transition: color 0.4s;
  }

  #more:hover{
    cursor: pointer;
    color: white;
  }

  .box-playlist{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgb(42, 42, 42);
    width: 284px;
    border-radius: 5px;
  }

  #h2-plist{
    margin-left: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  
  #escrita1{
    color: white;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Gotham', 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  #criar-playlist{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 16px;
    width: 120px;
    height: 30px;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid white;
  }

  #coldplay{
    margin: 9px;
    margin-left: 2;
    float: right;
    width: 1190px;
    height: 720px;
  }